In [1]:
# importing dependencies
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# bringing in the datasets
food_data_path = "Resources/FoodDesert2015.csv"
stores_data_path = "Resources/StoresData.csv"
restaurant_data_path = "Resources/RestaurantData.csv"

food_df = pd.read_csv(food_data_path)
stores_df = pd.read_csv(stores_data_path)
rest_df = pd.read_csv(restaurant_data_path)

In [5]:
# looking at the dataframe
food_df

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72859,56043000200,Wyoming,Washakie,0,3326,1317,0,57,0.017138,0,...,593,3106,6,15,0,27,172,309,56,116
72860,56043000301,Wyoming,Washakie,1,2665,1154,0,10,0.003752,0,...,399,2377,5,23,0,40,220,446,114,124
72861,56043000302,Wyoming,Washakie,1,2542,1021,0,73,0.028717,0,...,516,2312,11,10,1,26,182,407,82,97
72862,56045951100,Wyoming,Weston,0,3314,1322,0,252,0.076041,0,...,499,3179,15,10,1,47,62,91,108,50
72863,56045951300,Wyoming,Weston,1,3894,1699,0,61,0.015665,0,...,650,3706,6,10,2,44,126,125,95,168

In [6]:
# doing a count
food_df.count()

CensusTract      72864
State            72864
County           72864
Urban            72864
POP2010          72864
                 ...
TractAIAN        72864
TractOMultir     72864
TractHispanic    72864
TractHUNV        72864
TractSNAP        72864
Length: 147, dtype: int64

In [7]:
# dropping rows with null values and confirming count
food_df.dropna()
food_df.count()

CensusTract      72864
State            72864
County           72864
Urban            72864
POP2010          72864
                 ...
TractAIAN        72864
TractOMultir     72864
TractHispanic    72864
TractHUNV        72864
TractSNAP        72864
Length: 147, dtype: int64

In [ ]:
#filter dataframe by Missouri
missouri_df = food_df[food_df["State"] == "Missouri"]
missouri_df

In [ ]:
# saving the df as a csv
missouri_df.to_csv("Resources/Missouri.csv")

In [63]:
# looking at the dataframe
stores_df

,FIPS,State,County,GROC09,GROC14,PCH_GROC_09_14,GROCPTH09,GROCPTH14,PCH_GROCPTH_09_14,SUPERC09,...,PCH_SNAPS_12_16,SNAPSPTH12,SNAPSPTH16,PCH_SNAPSPTH_12_16,WICS08,WICS12,PCH_WICS_08_12,WICSPTH08,WICSPTH12,PCH_WICSPTH_08_12
0,1001,AL,Autauga,6,4,-33.333333,0.110834,0.072209,-34.849716,1,...,12.694878,0.674004,0.760911,12.894172,6,5,-16.66667,0.119156,0.090067,-24.412460
1,1003,AL,Baldwin,24,29,20.833333,0.133775,0.144920,8.331001,6,...,43.192771,0.725055,0.949753,30.990390,25,27,8.00000,0.141875,0.141517,-0.252126
2,1005,AL,Barbour,5,5,0.000000,0.180786,0.185963,2.863838,0,...,0.956938,1.280590,1.354387,5.762745,6,7,16.66667,0.201099,0.257344,27.968330
3,1007,AL,Bibb,6,5,-16.666667,0.261540,0.222163,-15.055985,1,...,20.512821,0.719122,0.864874,20.267995,6,5,-16.66667,0.277919,0.221268,-20.383970
4,1009,AL,Blount,6,6,0.000000,0.104637,0.103952,-0.654897,1,...,23.903509,0.657144,0.815946,24.165470,10,6,-40.00000,0.173028,0.103760,-40.033200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,5,5,0.000000,0.113294,0.111086,-1.948456,1,...,28.755365,0.428936,0.566059,31.968054,4,4,0.00000,0.100145,0.088365,-11.763530
3139,56039,WY,Teton,6,11,83.333333,0.282592,0.479721,69.757232,0,...,71.428571,0.242215,0.388082,60.222254,3,3,0.00000,0.146049,0.138408,-5.231835
3140,56041,WY,Uinta,3,2,-33.333333,0.142491,0.095675,-32.854956,1,...,23.571429,0.554895,0.694010,25.070490,4,3,-25.00000,0.194770,0.142687,-26.740780
3141,56043,WY,Washakie,3,2,-33.333333,0.356168,0.240327,-32.524233,0,...,11.764706,0.669502,0.769075,14.872674,2,2,0.00000,0.256180,0.236295,-7.762280
3142,56045,WY,Weston,4,4,0.000000,0.550509,0.555478,0.902652,0,...,27.710843,0.976654,1.220748,24.992840,3,3,0.00000,0.433025,0.423609,-2.174526

In [8]:
# doing a count
stores_df.count()

FIPS                   3143
State                  3143
County                 3143
GROC09                 3143
GROC14                 3143
PCH_GROC_09_14         3123
GROCPTH09              3143
GROCPTH14              3143
PCH_GROCPTH_09_14      3128
SUPERC09               3143
SUPERC14               3143
PCH_SUPERC_09_14       3003
SUPERCPTH09            3143
SUPERCPTH14            3143
PCH_SUPERCPTH_09_14    3004
CONVS09                3143
CONVS14                3143
PCH_CONVS_09_14        3119
CONVSPTH09             3143
CONVSPTH14             3143
PCH_CONVSPTH_09_14     3124
SPECS09                3143
SPECS14                3143
PCH_SPECS_09_14        2951
SPECSPTH09             3143
SPECSPTH14             3143
PCH_SPECSPTH_09_14     2955
SNAPS12                3143
SNAPS16                3117
PCH_SNAPS_12_16        3114
SNAPSPTH12             3143
SNAPSPTH16             3114
PCH_SNAPSPTH_12_16     3111
WICS08                 3143
WICS12                 3143
PCH_WICS_08_12         3124
WICSPTH08              3143
WICSPTH12              3143
PCH_WICSPTH_08_12      3124
dtype: int64

In [9]:
# dropping rows with null values and confirming count
stores_df.dropna()
stores_df.count()

FIPS                   3143
State                  3143
County                 3143
GROC09                 3143
GROC14                 3143
PCH_GROC_09_14         3123
GROCPTH09              3143
GROCPTH14              3143
PCH_GROCPTH_09_14      3128
SUPERC09               3143
SUPERC14               3143
PCH_SUPERC_09_14       3003
SUPERCPTH09            3143
SUPERCPTH14            3143
PCH_SUPERCPTH_09_14    3004
CONVS09                3143
CONVS14                3143
PCH_CONVS_09_14        3119
CONVSPTH09             3143
CONVSPTH14             3143
PCH_CONVSPTH_09_14     3124
SPECS09                3143
SPECS14                3143
PCH_SPECS_09_14        2951
SPECSPTH09             3143
SPECSPTH14             3143
PCH_SPECSPTH_09_14     2955
SNAPS12                3143
SNAPS16                3117
PCH_SNAPS_12_16        3114
SNAPSPTH12             3143
SNAPSPTH16             3114
PCH_SNAPSPTH_12_16     3111
WICS08                 3143
WICS12                 3143
PCH_WICS_08_12         3124
WICSPTH08              3143
WICSPTH12              3143
PCH_WICSPTH_08_12      3124
dtype: int64

In [64]:
# filtering down to Missouri
mo_stores_df = stores_df[stores_df["State"] == "MO"]
mo_stores_df

,FIPS,State,County,GROC09,GROC14,PCH_GROC_09_14,GROCPTH09,GROCPTH14,PCH_GROCPTH_09_14,SUPERC09,...,PCH_SNAPS_12_16,SNAPSPTH12,SNAPSPTH16,PCH_SNAPSPTH_12_16,WICS08,WICS12,PCH_WICS_08_12,WICSPTH08,WICSPTH12,PCH_WICSPTH_08_12
1483,29001,MO,Adair,3,3,0.000000,0.117293,0.117178,-0.097649,1,...,27.848101,0.514705,0.663801,28.967320,2,2,0.000000,0.080006,0.078183,-2.279043
1484,29003,MO,Andrew,3,3,0.000000,0.176098,0.172622,-1.973646,0,...,40.909091,0.315783,0.446686,41.453236,2,2,0.000000,0.118245,0.114830,-2.887986
1485,29005,MO,Atchison,4,3,-25.000000,0.691922,0.557414,-19.439799,0,...,17.647059,0.770346,0.944644,22.625888,3,2,-33.333330,0.498753,0.362516,-27.315580
1486,29007,MO,Audrain,4,5,25.000000,0.156079,0.193147,23.749372,1,...,-6.756757,0.722064,0.662926,-8.190110,3,3,0.000000,0.116383,0.117091,0.608874
1487,29009,MO,Barry,7,11,57.142857,0.196409,0.308452,57.045915,2,...,17.067834,1.071382,1.247714,16.458447,6,8,33.333330,0.165705,0.225060,35.820240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,29223,MO,Wayne,4,4,0.000000,0.296604,0.297354,0.252751,0,...,-11.210762,1.386609,1.255803,-9.433491,4,3,-25.000000,0.321182,0.223847,-30.305170
1594,29225,MO,Webster,6,5,-16.666667,0.166681,0.135545,-18.679516,1,...,1.729107,0.795485,0.771969,-2.956103,5,5,0.000000,0.137216,0.137548,0.242073
1595,29227,MO,Worth,1,1,0.000000,0.454752,0.482393,6.078148,0,...,33.333333,1.443001,1.976285,36.956522,1,1,0.000000,0.497265,0.481000,-3.270808
1596,29229,MO,Wright,6,5,-16.666667,0.322009,0.273358,-15.108523,1,...,-13.385827,1.136221,1.002589,-11.761160,5,5,0.000000,0.273898,0.268399,-2.007632
1597,29510,MO,St. Louis,115,109,-5.217391,0.360680,0.343395,-4.792478,0,...,2.290266,1.052104,1.099590,4.513425,21,19,-9.523809,0.058868,0.059716,1.440641

In [65]:
# creating df with only relevant rows
reduced_stores_df = stores_df[['State',
                               'County',
                               'GROC09',
                               'SUPERC09',
                               'CONVS09',
                               'SPECS09'
                              ]]
# renaming columns
reduced_stores_df = reduced_stores_df.rename(columns={"GROC09": "GroceryStores",
                                                      "SUPERC09": "SupercentersClubStores",
                                                      "CONVS09": "ConvenienceStores",
                                                      "SPECS09" : "SpecializedFoodStores"
                                                     })
reduced_stores_df.head(20)

,State,County,GroceryStores,SupercentersClubStores,ConvenienceStores,SpecializedFoodStores
0,AL,Autauga,6,1,29,2
1,AL,Baldwin,24,6,119,21
2,AL,Barbour,5,0,14,2
3,AL,Bibb,6,1,19,0
4,AL,Blount,6,1,31,2
5,AL,Bullock,2,0,2,1
6,AL,Butler,3,1,24,1
7,AL,Calhoun,25,3,88,2
8,AL,Chambers,7,1,22,1
9,AL,Cherokee,4,1,14,1
10,AL,Chilton,7,1,37,4
11,AL,Choctaw,4,0,16,1
12,AL,Clarke,6,2,18,2
13,AL,Clay,3,0,8,1
14,AL,Cleburne,3,0,11,0
15,AL,Coffee,7,1,30,0
16,AL,Colbert,9,1,43,3
17,AL,Conecuh,3,0,16,1
18,AL,Coosa,0,0,9,0
19,AL,Covington,10,1,27,2

In [66]:
rest_df

,FIPS,State,County,FFR09,FFR14,PCH_FFR_09_14,FFRPTH09,FFRPTH14,PCH_FFRPTH_09_14,FSR09,FSR14,PCH_FSR_09_14,FSRPTH09,FSRPTH14,PCH_FSRPTH_09_14,PC_FFRSALES07,PC_FFRSALES12,PC_FSRSALES07,PC_FSRSALES12
0,1001,AL,Autauga,30,36,20.000000,0.554170,0.649878,17.270512,34,29,-14.705882,0.628059,0.523513,-16.645960,649.511367,674.802720,484.381507,512.280987
1,1003,AL,Baldwin,112,132,17.857143,0.624282,0.659634,5.662750,202,221,9.405941,1.125938,1.104387,-1.914027,649.511367,674.802720,484.381507,512.280987
2,1005,AL,Barbour,21,22,4.761905,0.759301,0.818239,7.762116,12,15,25.000000,0.433887,0.557890,28.579797,649.511367,674.802720,484.381507,512.280987
3,1007,AL,Bibb,7,5,-28.571429,0.305131,0.222163,-27.190844,6,5,-16.666667,0.261540,0.222163,-15.055985,649.511367,674.802720,484.381507,512.280987
4,1009,AL,Blount,24,21,-12.500000,0.418549,0.363832,-13.073035,19,15,-21.052632,0.331351,0.259880,-21.569656,649.511367,674.802720,484.381507,512.280987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56037,WY,Sweetwater,27,33,22.222222,0.611787,0.733170,19.840776,31,32,3.225806,0.702422,0.710953,1.214497,656.208610,598.027144,715.635645,706.676425
3139,56039,WY,Teton,25,23,-8.000000,1.177468,1.003053,-14.812734,55,55,0.000000,2.590430,2.398604,-7.405146,656.208610,598.027144,715.635645,706.676425
3140,56041,WY,Uinta,15,16,6.666667,0.712454,0.765404,7.432070,23,16,-30.434783,1.092429,0.765404,-29.935606,656.208610,598.027144,715.635645,706.676425
3141,56043,WY,Washakie,8,6,-25.000000,0.949780,0.720981,-24.089762,14,11,-21.428571,1.662116,1.321798,-20.474989,656.208610,598.027144,715.635645,706.676425
3142,56045,WY,Weston,4,3,-25.000000,0.550509,0.416609,-24.323011,9,11,22.222222,1.238646,1.527566,23.325464,656.208610,598.027144,715.635645,706.676425

In [10]:
# doing a count
rest_df.count()

FIPS                3143
State               3143
County              3143
FFR09               3143
FFR14               3143
PCH_FFR_09_14       3092
FFRPTH09            3143
FFRPTH14            3143
PCH_FFRPTH_09_14    3097
FSR09               3143
FSR14               3143
PCH_FSR_09_14       3107
FSRPTH09            3143
FSRPTH14            3143
PCH_FSRPTH_09_14    3112
PC_FFRSALES07       3143
PC_FFRSALES12       3143
PC_FSRSALES07       3143
PC_FSRSALES12       3143
dtype: int64

In [11]:
# dropping rows with null values and confirming count
rest_df.dropna()
rest_df.count()

FIPS                3143
State               3143
County              3143
FFR09               3143
FFR14               3143
PCH_FFR_09_14       3092
FFRPTH09            3143
FFRPTH14            3143
PCH_FFRPTH_09_14    3097
FSR09               3143
FSR14               3143
PCH_FSR_09_14       3107
FSRPTH09            3143
FSRPTH14            3143
PCH_FSRPTH_09_14    3112
PC_FFRSALES07       3143
PC_FFRSALES12       3143
PC_FSRSALES07       3143
PC_FSRSALES12       3143
dtype: int64

In [67]:
# filtering down to Missouri
mo_rest_df = rest_df[rest_df["State"] == "MO"]
mo_rest_df

,FIPS,State,County,FFR09,FFR14,PCH_FFR_09_14,FFRPTH09,FFRPTH14,PCH_FFRPTH_09_14,FSR09,FSR14,PCH_FSR_09_14,FSRPTH09,FSRPTH14,PCH_FSRPTH_09_14,PC_FFRSALES07,PC_FFRSALES12,PC_FSRSALES07,PC_FSRSALES12
1483,29001,MO,Adair,20,20,0.000000,0.781953,0.781189,-0.097649,20,14,-30.000000,0.781953,0.546832,-30.068354,623.520543,567.295463,617.339007,642.525664
1484,29003,MO,Andrew,7,4,-42.857143,0.410895,0.230163,-43.984941,4,5,25.000000,0.234797,0.287704,22.532942,623.520543,567.295463,617.339007,642.525664
1485,29005,MO,Atchison,2,2,0.000000,0.345961,0.371609,7.413601,4,6,50.000000,0.691922,1.114827,61.120401,623.520543,567.295463,617.339007,642.525664
1486,29007,MO,Audrain,13,16,23.076923,0.507258,0.618071,21.845536,14,13,-7.142857,0.546278,0.502183,-8.071895,623.520543,567.295463,617.339007,642.525664
1487,29009,MO,Barry,13,15,15.384615,0.364759,0.420616,15.313434,28,23,-17.857143,0.785634,0.644944,-17.907817,623.520543,567.295463,617.339007,642.525664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,29223,MO,Wayne,4,5,25.000000,0.296604,0.371692,25.315938,8,9,12.500000,0.593208,0.669045,12.784344,623.520543,567.295463,617.339007,642.525664
1594,29225,MO,Webster,13,19,46.153846,0.361141,0.515073,42.623617,16,11,-31.250000,0.444481,0.298200,-32.910601,623.520543,567.295463,617.339007,642.525664
1595,29227,MO,Worth,1,0,-100.000000,0.454752,0.000000,-100.000000,2,3,50.000000,0.909504,1.447178,59.117221,623.520543,567.295463,617.339007,642.525664
1596,29229,MO,Wright,9,9,0.000000,0.483014,0.492045,1.869772,9,10,11.111111,0.483014,0.546717,13.188636,623.520543,567.295463,617.339007,642.525664
1597,29510,MO,St. Louis,296,279,-5.743243,0.928360,0.878964,-5.320687,345,362,4.927536,1.082041,1.140448,5.397930,623.520543,567.295463,617.339007,642.525664

In [68]:
# creating df with only relevant rows
reduced_rest_df = rest_df[['State',
                           'County',
                           'FFR09',
                           'FSR09'
                          ]]
# renaming columns
reduced_rest_df = reduced_rest_df.rename(columns={"FFR09": "FastFoodRestaurants",
                                                  "FSR09": "FullServiceRestaurants"
                                                 })

reduced_rest_df.head(20)

   State     County  FastFoodRestaurants  FullServiceRestaurants
0     AL    Autauga                   30                      34
1     AL    Baldwin                  112                     202
2     AL    Barbour                   21                      12
3     AL       Bibb                    7                       6
4     AL     Blount                   24                      19
5     AL    Bullock                    4                       2
6     AL     Butler                   17                      19
7     AL    Calhoun                   95                      67
8     AL   Chambers                   22                      19
9     AL   Cherokee                   16                      10
10    AL    Chilton                   23                      17
11    AL    Choctaw                    4                       7
12    AL     Clarke                   23                      13
13    AL       Clay                    4                       7
14    AL   Cleburne                    7                       4
15    AL     Coffee                   35                      31
16    AL    Colbert                   41                      40
17    AL    Conecuh                    5                       4
18    AL      Coosa                    0                       0
19    AL  Covington                   25                      24

In [69]:
# creating a new df with all the info by county for grocery stores and restaurants in Missouri
all_food_df = pd.DataFrame({"State": reduced_rest_df['State'],
                            "County": reduced_rest_df['County'],
                            "GroceryStores": reduced_stores_df['GroceryStores'],
                            "SupercentersClubStores": reduced_stores_df['SupercentersClubStores'],
                            "ConvenienceStores": reduced_stores_df['ConvenienceStores'],
                            "SpecializedFoodStores": reduced_stores_df['SpecializedFoodStores'],
                            "FastFoodRestaurants": reduced_rest_df['FastFoodRestaurants'],
                            "FullServiceRestaurants": reduced_rest_df['FullServiceRestaurants']
                           })
all_food_df

,State,County,GroceryStores,SupercentersClubStores,ConvenienceStores,SpecializedFoodStores,FastFoodRestaurants,FullServiceRestaurants
0,AL,Autauga,6,1,29,2,30,34
1,AL,Baldwin,24,6,119,21,112,202
2,AL,Barbour,5,0,14,2,21,12
3,AL,Bibb,6,1,19,0,7,6
4,AL,Blount,6,1,31,2,24,19
...,...,...,...,...,...,...,...,...
3138,WY,Sweetwater,5,1,28,2,27,31
3139,WY,Teton,6,0,12,4,25,55
3140,WY,Uinta,3,1,15,3,15,23
3141,WY,Washakie,3,0,5,0,8,14
3142,WY,Weston,4,0,3,0,4,9

In [70]:
# saving the df as a csv
all_food_df.to_csv("Resources/StoresRestaurantData.csv")